
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height:1.6;
    color:#222;
    background:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#ffffff;
    border-bottom:1px solid #ddd;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav{
    display:flex;
    gap:15px;
}

nav a{
    text-decoration:none;
    color:#222;
    font-size:14px;
}


.hero{
    padding:60px 20px;
    text-align:center;
    background:#f5f5f5;
}

.hero h1{
    font-size:36px;
    margin-bottom:20px;
}

.hero p{
    margin-bottom:25px;
}


button{
    padding:12px 25px;
    border:none;
    background:#222;
    color:white;
    cursor:pointer;
    border-radius:5px;
}


.pillars{
    padding:40px 20px;
    text-align:center;
}


.pillars h2,
.why h2{
    margin-bottom:30px;
}


.card{
    padding:25px;
    margin:15px 0;
    border:1px solid #ddd;
    border-radius:10px;
}


.why{
    padding:40px 20px;
    background:#f7f7f7;
}


.why li{
    list-style:none;
    margin:10px;
}


.quote{
    padding:40px 20px;
    text-align:center;
}


footer{
    padding:20px;
    text-align:center;
    background:#222;
    color:white;
}


@media(max-width:768px){

header{
    flex-direction:column;
    gap:15px;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:28px;
}

}
.dropdown{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#ffffff;
    min-width:260px;
    border:1px solid #ddd;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    z-index:999;
}

.dropdown-content a{
    display:block;
    padding:12px 15px;
    text-decoration:none;
    color:#222;
}

.dropdown-content a:hover{
    background:#f5f5f5;
}

.dropdown:hover .dropdown-content{
    display:block;
}
.hero-slider{
    width:100%;
    height:85vh;
    position:relative;
    overflow:hidden;
}

.slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-position:center;
    display:none;
}

.slide.active{
    display:block;
}

.slide::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
}

.hero-overlay{
    position:absolute;
    top:50%;
    left:8%;
    transform:translateY(-50%);
    color:white;
    max-width:600px;
    z-index:2;
}

.hero-overlay h1{
    font-size:48px;
}

.hero-overlay p{
    font-size:20px;
}

.hero-overlay button{
    margin-right:10px;
    padding:12px 20px;
}


.prev,
.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:5;
    padding:10px 15px;
    font-size:25px;
}

.prev{
    left:20px;
}

.next{
    right:20px;
}


@media(max-width:768px){

.hero-slider{
    height:70vh;
}

.hero-overlay{
    left:5%;
    right:5%;
}

.hero-overlay h1{
    font-size:30px;
}

}